<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Car Rental Service, strona wyszukiwania pojazdu</title>
        <script type="text/javascript" th:src="@{actions.js}"></script>
       
        
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
 
        <div class="row" th:if="${carList.size()} == 0">
          <div class="columnleft">
              <p></p>
          </div>
          <div class="columnright">
            <h2>Brak dostępnych samochodów</h2>
            <p>Przepraszamy, ale w wybranej lokalizacji i czasie nie mamy dostępnych samochodów.</p>
            <p>Co mogę zrobić?</p>
            <p>Możesz spróbować:</p>
            <ul>
                <li>Zmiana daty odbioru</li>
                <li>Zmiana daty zwrotu</li>
                <li>Wyszukiwanie samochodu w pobliskiej lokalizacji</li>
            </ul>
            <p></p>
            <p><a href="home.html" th:href="@{/}">Powrót do strony wyszukiwania</a></p>
          </div>
        </div>
        
        <div class="row" th:if="${carList.size()} != 0">
            <div class="columnleft">
                <form action="#" th:action="@{/book}" method="post">
                    <h3>Filtry </h3>
                    <h4>Kategoria samochodu: </h4>
                    <p>
                        <input type="radio" id="małe" name="filterCarCategory" value="małe" checked>
                        <label for="małe">małe</label>
                        <input type="radio" id="średnie" name="filterCarCategory" value="średnie">
                        <label for="średnie">średnie</label>
                        <input type="radio" id="kombi" name="filterCarCategory" value="kombi">
                        <label for="kombi">kombi</label>
                        <input type="radio" id="premium" name="filterCarCategory" value="premium">
                        <label for="premium">premium</label>
                        <input type="radio" id="minivany" name="filterCarCategory" value="minivany">
                        <label for="minivany">minivany</label>
                        <input type="radio" id="SUV" name="filterCarCategory" value="SUV">
                        <label for="SUV">SUV</label>
                    </p>
                    <h4>Maksymalna cena: <span id="slider_value" style="color:black;"></span></h4>
                    <p>
                        <span th:text="${filterCarByPriceMin}"/>
                        <input type="range" name="filterCarByPrice" 
                            th:attr="min=${filterCarByPriceMin}, max=${filterCarByPriceMax}" 
                            onchange="show_value(this.value);">
                        <span th:text="${filterCarByPriceMax}"/>
                    </p>

                    <p><input type="submit" th:attr="value='Filtruj'" /></p>
                </form>
                
            </div>
            <div class="columnright">
                
                
                <div th:each="car : ${carList}">
                    <form action="#" th:action="@{/order}" th:object="${bookForm}" method="post">
                    <p></p>
                    <table width="600">
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <h3 th:text="${car.brand} + ' ' + ${car.model}"></h3>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img th:src="@{/images/dan-gold-N7RiDzfF2iw-unsplash.jpg}" width="100" /></td>
                                <td>
                                    <div class="columncar">
                                        <p th:text="'Kategoria: ' + ${car.category}">Kategoria: </p>
                                        <p th:text="'Liczba miejsc: ' + ${car.numberOfSeats}">Liczba miejsc: </p>
                                        <p th:text="'Dzienny limit kilometrów: ' + ${car.dailyKilometerLimit}">Dzienny limit kilometrów: </p>
                                    </div>
                                    <div class="columncar">
                                        <p th:text="'Skrzynia biegów: ' + ${car.gearboxType}"></p>
                                        <p th:if="${car.airConditioning} == true">Klimatyzacja</p>
                                        <p th:if="${car.airConditioning} == false"></p>
                                    </div>
                                </td>
                                <td>
                                    <p>Cena za 1 dzień</p>
                                    <h3 th:text="${car.pricePerDay} + ' zł'"></h3>
                                    <input type="hidden" name="carId" th:attr="value=${car.Id}"/>
                                    <p><input type="submit" th:attr="value='Zamów ' + ${car.model}" /></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p></p>
                    </form>
                </div>
               
                
            </div>
        </div>

    </body>
</html>
