<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Car Rental Sample Spring Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="right">Zarządzaj rezerwacją</div>
        </br>
        <form method="POST">
        <table border="0" align="center">
            <tbody>
                <tr>
                    <td width="200">Miejsce odbioru</td>
                    <td><select name="localization">
                            <!--<option>Katowice</option>
                            <option>Gliwice</option>-->
                            <option th:each="city : ${cities}" th:text="${city}" th:value="${city}">
                        </select></td>
                </tr>
                <tr>
                    <td>Data rozpoczęcia</td>
                    <td><input type="date" id="start" name="trip-start"></td>
                </tr>
                <tr>
                    <td>Data zakończenia</td>
                    <td><input type="date" id="start" name="trip-end"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button>Szukaj</button></td>
                </tr>
            </tbody>
        </table>
        </form>
        
        <!--<div th:each="city : ${cities}">
        <span th:text="${city}"></span><br/>-->
        
      </div>
    </body>
</html>
