<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Car Rental Sample Spring Project</title>
    </head>
    <body>
        <div align="right">Zarządzaj rezerwacją</div>
        </br>
        <form method="POST" th:action="@{/book}">
        <table border="0" align="center">
            <tbody>
                <tr>
                    <td width="200">Miejsce odbioru</td>
                    <td><select name="localization">
                            <option th:each="city : ${cities}" th:text="${city}" 
                                    th:value="${city}">
                        </select></td>
                </tr>
                <tr>
                    <td>Data rozpoczęcia</td>
                    <td><input type="date" id="start" name="rentStart" 
                               th:value="${date}" th:attr="min=${date}"></td>
                </tr>
                <tr>
                    <td>Data zakończenia</td>
                    <td><input type="date" id="start" name="rentEnd" 
                               th:value="${date}" th:attr="min=${date}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Szukaj"></td>
                </tr>
            </tbody>
        </table>
        </form>
    </body>
</html>
