<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Car Rental Service, podsumowanie zamówienia</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="row">
            
          <div class="columnleft">
              <p></p>
          </div>
            
          <div class="columnright">
              <h3>Podsumowanie Twojego zamówienia: </h3>
              <p th:text="${car.brand} + ' ' + ${car.model}"></p>
                <ul>
                    <li th:text="'Liczba miejsc: ' + ${car.numberOfSeats}"></li>
                    <li th:text="'Dzienny limit kilometrów: ' + ${car.dailyKilometerLimit}">Zmiana daty zwrotu</li>
                    <li th:text="'Skrzynia biegów: ' + ${car.gearboxType}"></li>
                    <li <p th:if="${car.airConditioning} == true">Klimatyzacja</li>
                </ul>
              <p th:text="'Data rozpoczęcia rezerwacji: ' + ${order.startDate}"></p>
              <p th:text="'Data zakończenia rezerwacji: ' + ${order.endDate}"></p>
              <p th:text="'Miejsce odbioru i zwrotu samochodu: ' + ${car.localization}"></p>
              <h3 th:text="'Cena całkowita: ' + ${order.totalPrice} + ' zł'"></h3>
              <h3><a th:href="@{/orderconfirmation}">Zamów</a></h3>
          </div>
            
        </div>
    </body>
</html>
